<template name="itemDetails">
	{{#with itemDetails}}
	<!-- Main -->
	<div id="main-wrapper">
		<div id="main" class="container">
			<div class="row">

				<!-- Content -->
				<div id="content" class="8u 12u(mobile)">

					<!-- Post -->
					<article class="box post">
						<header>
							<h2><a href="#">I don’t want to say <strong>it’s the aliens</strong> ...<br />
								but it’s the aliens.</a></h2>
							</header>
							<a href="#" class="image featured"><img src="{{getImg picture}}"></a>
							<h3>Inspiration</h3>
							<p>{{details}}</p>
						</article>
					</div>

					<!-- Sidebar -->
					<div id="sidebar" class="4u 12u(mobile)">

						<!-- Excerpts -->
						<section>
							<ul class="divided">
								<li>

									<!-- Excerpt -->
									<article class="box excerpt">
										<header>
											<span class="date">{{tm_now createdAT}}</span>
											<h3><a href="#">{{itemName}}</a></h3>
											<h3>&#162;<a href="#">{{price}}
											</a></h3>
										</header>
										<p>Available size: {{size}}</p>
									</article>
									<ul class="actions">
										<li><a href="#" class="button icon fa-file">Own it</a></li>
									</ul>
								</li>
							</ul>
						</section>
					</div>
				</div>
			</div>
		</div>
		{{/with}}
	</template>