
<template name="items">
	<!-- {{> autoformModals}}
	{{#afModal class="btn btn-primary" collection="Items" operation="insert"}}
	Post Item
	{{/afModal}} -->
	<a href="#" class="btn btn-primary" id="post-item-btn">Post Item</a>
	<div id="features-wrapper">
		<section id="features" class="container">
			<header>
				<h2>Gentlemen, behold! This is <strong>Strongly Typed</strong>!</h2>
			</header>
			<div class="row">
				{{#each items}}
				<div class="4u 12u(mobile)">

					<!-- Feature -->
					<section>
						<a href="{{pathFor 'itemDetails' _id=_id}}">
							<a class="image featured"><img src="{{getImg picture}}"></a>
							<header>
								<h3>
									{{itemName}}</h3>
								</header>
								<p>{{price}}</p>
							</a>
							{{#quickRemoveButton collection="Items" class="btn btn-primary" _id=this._id}}Delete{{/quickRemoveButton}}
							<!-- {{#afModal class="btn btn-primary" collection="Items" operation="update" doc=_id}}
							Update post
							{{/afModal}} -->
						</section>	
					</div>
					{{/each}}
				</div>	
			</section>
		</div>
		{{> postItemModal}}
	</template>


